@import url("https://fonts.googleapis.com/css2?family=Public+Sans:wght@300;400;700&display=swap");
* {
  font-family: "Public Sans", sans-serif;
  font-size: 18px;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-width: 280px;
}
body .req-btn {
  color: hsl(0deg, 0%, 100%);
  background: linear-gradient(90deg, hsl(136deg, 65%, 51%) 0%, hsl(192deg, 70%, 51%) 100%);
  border: 0;
  padding: 11px 30px;
  border-radius: 50px;
}
body .req-btn:hover {
  filter: brightness(115%) contrast(90%);
}
body h1,
body h3,
body h2,
body h4,
body h5 {
  color: hsl(233deg, 26%, 24%);
}
body p {
  color: hsl(233deg, 8%, 62%);
}
@media (min-width: 1400px) {
  body .container-xxl {
    max-width: 1600px;
  }
}
body::-webkit-scrollbar {
  width: 6px;
}
body::-webkit-scrollbar-track {
  background: hsl(220deg, 16%, 96%);
}
body::-webkit-scrollbar-thumb {
  background: linear-gradient(0deg, hsl(136deg, 65%, 51%) 0%, hsl(192deg, 70%, 51%) 100%);
  border-radius: 4px;
}
body .bg-lgr {
  background-color: hsl(0deg, 0%, 98%);
}
body .bg-grB {
  background-color: hsl(220deg, 16%, 96%);
}
body .bg-db {
  background-color: hsl(233deg, 26%, 24%);
}

nav .nav-link {
  color: hsl(233deg, 8%, 62%);
  border-bottom: 2px solid transparent;
}
nav .nav-link:hover {
  border-bottom: 2px solid hsl(136deg, 65%, 51%);
  transition: all 0.3s ease-in;
}

.offcanvas .offcanvas-body {
  overflow: visible;
}

main .c-hero {
  height: 36.5rem;
}
main .text-section {
  flex: 50%;
}
main .mockup-section {
  flex: 70%;
  width: 100%;
  position: relative;
  background: url("../images/bg-intro-desktop.svg") no-repeat;
  background-size: 68rem;
  background-position: 9% 130%;
  overflow: hidden;
}
main .mockup-section .c-img {
  z-index: 9999;
  position: static;
  margin-left: 6rem;
  margin-top: -8rem;
  -o-object-fit: cover;
     object-fit: cover;
}
main .c-articles .c-img {
  width: 100%;
  height: 12rem;
  -o-object-fit: cover;
     object-fit: cover;
}
main .c-articles p {
  font-size: 15px;
}
main .c-articles button {
  background: none;
  border: none;
}
main .c-articles button :hover {
  color: hsl(136deg, 65%, 51%);
}

footer .c-links button {
  background: none;
  border: none;
  color: hsl(220deg, 16%, 96%);
}
footer .c-links button:hover {
  color: hsl(136deg, 65%, 51%);
}
footer .c-links .s-icon {
  height: 26px;
}
footer .c-links .s-icon:hover {
  filter: invert(66%) sepia(29%) saturate(3164%) hue-rotate(72deg) brightness(130%) contrast(90%);
}

@media (max-width: 992px) {
  main .c-hero {
    height: 100%;
  }
  main .mockup-section {
    background: url("../images/bg-intro-mobile.svg") no-repeat;
    background-size: cover;
    background-position: center center;
  }
  main .mockup-section .c-img {
    margin-left: 0;
    height: 100%;
    width: 100%;
  }
}
@media (max-width: 280px) {
  main .mockup-section {
    background-position: center center;
  }
  main .mockup-section .c-img {
    margin-top: -6rem;
  }
}/*# sourceMappingURL=appStyle.css.map */